table {
  margin: 0 auto;
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
}

tbody tr:nth-child(odd) {
  background-color: #eceded;
}

thead tr:last-child th {
  font-weight: bold;
  font-size: 0.875rem;
  padding-top: 0;
}

td {
  padding: 10px 0;
  text-align: center;
}

.need {
  display: block;
  font-size: 0.8rem;
}

thead > tr > th:first-child,
td:first-child {
  text-align: left;
  padding-left: 10px;
  vertical-align: top;
}

tbody tr:last-child td {
  font-size: 0.875rem;
  font-style: italic;
  text-align: center;
  border: none;
}

tbody tr:last-child {
  background-color: transparent;
}

tbody tr:last-child td a {
  color: currentColor;
  text-decoration: underline;
}

tbody tr:last-child td a:hover {
  text-decoration: none;
}

thead th {
}

th {
  padding: 0 0 10px 0;
}

.score {
  display: block;
  font-weight: bold;
}

.targetNumber {
  display: block;
  font-size: 0.8rem;
  font-weight: normal;
}

.hide-mobile {
  display: none;
}

.hide-desktop {
  display: block;
}

@media only screen and (min-width: 758px) {
  .hide-mobile {
    display: block;
  }

  .hide-desktop {
    display: none;
  }
}
