:root {
  font-size: 16px;
}

html {
  font-family: "Open Sans", sans-serif;
  margin: 20px;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}

th {
  padding: 10px;
}

tbody tr:nth-child(odd) {
  background-color: #eceded;
}

thead tr:last-child th {
  font-weight: normal;
  font-size: 0.875rem;
  padding-top: 0;
}

td {
  padding: 10px;
  text-align: center;
  white-space: nowrap;
}

th:first-child,
td:first-child {
  text-align: left;
}

tbody tr:last-child td {
  font-size: 0.875rem;
  font-style: italic;
  text-align: center;
  border: none;
}

tbody tr:last-child {
  background-color: transparent;
}

tbody tr:last-child td a {
  color: currentColor;
  text-decoration: underline;
}

tbody tr:last-child td a:hover {
  text-decoration: none;
}

td.low {
  border-left: solid 5px #ffffff;
}

td.score {
  padding-right: 0;
  padding-left: 0;
}

td.high {
  border-right: solid 5px #ffffff;
}

th.score {
  font-style: italic;
  padding: 0 0 10px 0;
}

th {
  padding: 0 0 10px 0;
}
